<div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
    <h5 class="text-xl font-bold text-white">Barang</h5>
</div>
<div class="ion-padding">
    <div class="relative">
        <input type="search" placeholder="Cari barang..."
            class="w-full h-12 px-5 pr-10 text-sm bg-gray-100 rounded-full focus:outline-none"
            (input)="onSearchBarang($event)">
        <ion-buttons class="absolute top-0 right-0 mr-4" slot="primary" (click)="showKategori()">
            <ion-button>
                <ion-icon size="small" name="filter-outline" slot="icon-only" class="text-gray-600"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
</div>
<ion-content class="space-y-4">

    <div class="w-full p-4 space-y-2 rounded-lg bg-gray-50"
        style="position: relative; box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px">
        <div class="flex justify-between">
            <div class="mr-2">
                <p class="text-sm text-gray-500"><b>Dibeli</b> <span class="ml-auto text-xs text-gray-500"> - 06 Agustus
                        2023</span></p>
            </div>
            <div class="ml-2">
                <div class="text-xs text-gray-500" style="text-align: right; display: flex; align-items: center;">
                    <ion-icon name="time-outline" style="margin-right: 2px; font-size: 14px;"></ion-icon>13:30
                </div>
            </div>
        </div>
        <p class="font-bold text-gray-700 text-md" style="margin-top: 8px;">Susu UHT Rasa Coklat ukuran 1 Ltr</p>
        <p class="text-sm text-gray-500" style="margin-bottom: 0.5rem; margin-top: 0;">2 kotak</p>
        <div class="flex justify-between" style="margin-top: 16px;">
            <div style="display: flex; align-items: end;" class="mr-2">
                <p class="text-sm text-sm text-[#30a2ff]" style="text-align: center;"><i>Kebutuhan Bulanan</i></p>
            </div>
            <div class="ml-2" style="display: flex; align-items: end;">
                <div class="px-2 py-1 font-bold text-xs text-yellow-800 bg-yellow-200 rounded">Belum</div>
                <!-- <div class="px-2 py-1 font-bold text-xs text-green-800 bg-green-200 rounded">Selesai</div> -->
            </div>
        </div>
        <hr style="margin: 0.5rem 0; border-top-width: 2px; border-color: #e7e7e7;">
        <p class="text-sm font-bold text-gray-500" style="text-align: right;">
            <!-- <ion-icon name="person-sharp"></ion-icon> Nama Penerima -->
            <ion-icon name="location-sharp"></ion-icon> Riemart Demang Lebar Daun
        </p>
    </div>

    <div (click)="goToShowBarang(data.id)" *ngFor="let data of dataBarang"
        class="w-full p-4 space-y-2 border border-gray-200 rounded-lg bg-gray-50 shadow-inherit">
        <div class="flex justify-between">
            <p class="font-bold text-gray-700 text-md">{{ limitText(data.nama_barang, 25) }}</p>
            <p
                class="inline-block px-2 py-1 text-xs {{ data.progress == 0 ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200' }} rounded">
                {{ data.progress == 0 ? 'Belum' : 'Selesai' }}
            </p>
        </div>
        <p class="text-sm text-gray-500">{{ limitText(data.kategori, 25) }}</p>
        <p class="text-sm text-[#30a2ff]">{{ limitText(data.jumlah_barang, 25) }}</p>
        <div class="flex justify-between">
            <p class="text-sm font-bold text-gray-500 uppercase">{{ limitText(data.status, 25) }}</p>
            <p class="ml-auto text-sm font-bold text-gray-500">{{ formatTanggal(data.jadwal_rencana) }}</p>
        </div>
    </div>
</ion-content>
<ion-fab (click)="goToTambahBarang()" slot="fixed" vertical="bottom" horizontal="end" class="m-4">
    <ion-fab-button>
        <ion-icon name="add-outline" color="light"></ion-icon>
    </ion-fab-button>
</ion-fab>