<div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-buttons class="absolute top-0 left-0" slot="primary" [routerLink]="['/profil']">
    <ion-button>
      <ion-icon name="person-circle-outline" slot="icon-only" class="text-white"></ion-icon>
    </ion-button>
  </ion-buttons>
  <h5 class="text-xl font-bold text-white">Barangku</h5>
  <ion-buttons class="absolute top-0 right-0" slot="primary" (click)="showKategori()">
    <ion-button>
      <ion-icon name="filter-outline" slot="icon-only" class="text-white"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
<div class="ion-padding">
  <div class="relative">
    <input type="search" placeholder="Cari barang..."
      class="w-full h-12 px-5 pr-10 text-sm bg-gray-100 rounded-full focus:outline-none"
      (input)="onSearchBarang($event)">
    <ion-buttons class="absolute top-0 right-0 mr-4" slot="primary">
      <ion-button>
        <ion-icon size="small" name="search-outline" slot="icon-only" class="text-gray-500"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</div>
<ion-content class="space-y-4 ion-padding">
  <div (click)="goToShowBarang(data.id)" *ngFor="let data of dataBarang"
    class="relative w-full p-4 space-y-2 border border-gray-200 rounded-lg bg-gray-50 shadow-inherit">
    <div class="flex justify-between">
      <div class="text-sm text-gray-500">
        <strong>{{ data.status }}</strong>
        <span class="ml-auto text-xs">
          - {{ formatTanggal(data.jadwal_rencana) }}
        </span>
      </div>
      <div class="flex items-center text-xs text-gray-500">
        <ion-icon class="mr-1 text-sm" name="time-outline"></ion-icon>{{ formatJam(data.jadwal_rencana) }}
      </div>
    </div>
    <div class="font-bold text-gray-700 text-md">
      {{ data.nama_barang }}
    </div>
    <div class="text-sm text-gray-500">
      {{ data.jumlah_barang }}
    </div>
    <div class="flex justify-between">
      <div class="text-sm text-[#30a2ff] italic">
        {{ data.kategori == 'Opsi Lainnya' ? data.kategori_lainnya : data.kategori }}
      </div>
      <div
        class="px-2 py-1 text-xs font-bold {{ data.progress == 0 ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200' }} rounded">
        {{ data.progress == 0 ? 'Belum' : 'Selesai' }}
      </div>
    </div>
    <div class="border-t-2 border-gray-300"></div>
    <div class="flex items-center text-sm text-gray-500">
      <ion-icon class="mr-1" name="location-sharp"></ion-icon>
      <strong>{{ data.letak_barang }}</strong>
    </div>
  </div>
</ion-content>
<ion-fab (click)="goToTambahBarang()" slot="fixed" vertical="bottom" horizontal="end" class="m-4">
  <ion-fab-button>
    <ion-icon name="add-outline" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>