<div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-buttons class="absolute top-0 left-0" slot="primary" [routerLink]="['/profil']">
    <ion-button>
      <ion-icon name="person-circle-outline" slot="icon-only" class="text-white"></ion-icon>
    </ion-button>
  </ion-buttons>
  <h5 class="text-xl font-bold text-white">Barangku</h5>
  <ion-buttons class="absolute top-0 right-0" slot="primary" (click)="showKategori()">
    <ion-button>
      <ion-icon name="filter-outline" slot="icon-only" class="text-white"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
<div class="ion-padding">
  <div class="relative">
    <input type="search" placeholder="Cari barang..."
      class="w-full h-12 px-5 pr-10 text-sm bg-gray-100 rounded-full focus:outline-none"
      (input)="onSearchBarang($event)">
    <ion-buttons class="absolute top-0 right-0 mr-4" slot="primary">
      <ion-button>
        <ion-icon size="small" name="search-outline" slot="icon-only" class="text-gray-500"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</div>
<ion-content class="space-y-4 ion-padding">
  <div (click)="goToShowBarang(data.id)" *ngFor="let data of dataBarang"
    class="relative w-full p-4 space-y-2 border border-gray-200 rounded-lg bg-gray-50 shadow-inherit">
    <div class="flex justify-between">
      <div class="mr-2">
        <p class="text-sm text-gray-500"><b>{{ data.status }}</b> <span class="ml-auto text-xs text-gray-500"> - {{
            formatTanggal(data.jadwal_rencana) }}</span></p>
      </div>
      <div class="ml-2">
        <div class="flex items-center text-xs text-right text-gray-500">
          <ion-icon name="time-outline" class="mr-[2px] text-[14px]"></ion-icon>{{
          formatJam(data.jadwal_rencana) }}
        </div>
      </div>
    </div>
    <p class="mt-2 font-bold text-gray-700 text-md">{{ data.nama_barang }}</p>
    <p class="mt-0 mb-2 text-sm text-gray-500">{{ data.jumlah_barang }}</p>
    <div class="flex justify-between mt-4">
      <div class="flex items-end mr-2">
        <p class="text-sm text-[#30a2ff] text-center"><i>{{ data.kategori == 'Opsi Lainnya' ?
            data.kategori_lainnya : data.kategori }}</i></p>
      </div>
      <div class="ml-2" style="display: flex; align-items: end;">
        <div
          class="px-2 py-1 text-xs font-bold {{ data.progress == 0 ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200' }} rounded">
          {{ data.progress == 0 ? 'Belum' : 'Selesai' }}</div>
      </div>
    </div>
    <div class="border-t-2 border-[#e7e7e7]"></div>
    <p class="text-sm font-bold text-right text-gray-500">
      <ion-icon name="location-sharp"></ion-icon> {{ data.letak_barang }}
    </p>
  </div>
</ion-content>
<ion-fab (click)="goToTambahBarang()" slot="fixed" vertical="bottom" horizontal="end" class="m-4">
  <ion-fab-button>
    <ion-icon name="add-outline" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>