<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="barang">
      <ion-icon aria-hidden="true" name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Barang</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jasa">
      <ion-icon aria-hidden="true" name="construct-outline"></ion-icon>
      <ion-label>Jasa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>