<ion-header *ngIf="platform == 'android'"
  class="flex ion-no-border justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <div>
    <h5 class="text-xl font-bold text-white">Barangku</h5>
  </div>
</ion-header>

<ion-header *ngIf="platform !== 'android'" class="ion-no-border p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-toolbar color="transparent" class="text-white">
    <ion-title>Barangku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="space-y-4 ion-padding">
  <div class="flex h-full justify-center items-center">
    <p class="text-gray-500">Coming Soon</p>
  </div>
</ion-content>

<ion-fab (click)="goToTambahBarang()" slot="fixed" vertical="bottom" horizontal="end" class="m-4">
  <ion-fab-button>
    <ion-icon name="add-outline" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>