<ion-content>
  <div class="flex justify-center p-10 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%] mb-4">
    <ion-img src="../../assets/images/update.png" class="w-36"></ion-img>
  </div>
  <div class="space-y-4 ion-padding">
    <h1 class="text-[#30a2ff] font-bold text-xl">Halo {{ user }}, perhatikan!</h1>
    <p class="text-lg text-justify text-gray-500">Saat ini Anda menggunakan aplikasi versi {{ currentVersion }}.
      Silahkan update aplikasi ke versi {{ latestVersion }} untuk mencoba fitur baru dan beberapa perbaikan bug. Terima
      kasih atas perhatian Anda.</p>
    <ion-button (click)="goToUpdate()" expand="block" class="text-white">Update Sekarang</ion-button>
  </div>
</ion-content>