<ion-header *ngIf="platform == 'android'"
  class="flex ion-no-border justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <div>
    <ion-buttons class="absolute top-4 left-4" slot="primary" [routerLink]="['/tabs/letak']" routerDirection="back">
      <ion-button>
        <ion-icon name="arrow-back-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="absolute top-4 right-4" slot="primary" id="show-menu-letak-barang">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="show-menu-letak-barang">
      <ng-template>
        <ion-content>
          <ion-item button detail="true" (click)="goToEditLetakBarang()">
            <ion-icon name="create-outline" slot="start" class="m-0 mr-4"></ion-icon>
            <ion-label>
              <h2>Edit</h2>
            </ion-label>
          </ion-item>
          <ion-item button detail="true" (click)="hapusData()">
            <ion-icon name="trash-outline" slot="start" class="m-0 mr-4"></ion-icon>
            <ion-label>
              <h2>Hapus</h2>
            </ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
    <h5 class="text-xl font-bold text-white">Detail Letak Barang</h5>
  </div>
</ion-header>

<ion-header *ngIf="platform !== 'android'" class="ion-no-border p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-toolbar color="transparent" class="text-white">
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/letak"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Letak Barang</ion-title>
    <ion-buttons slot="end" id="show-menu-letak-barang">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-popover trigger="show-menu-letak-barang">
    <ng-template>
      <ion-content>
        <ion-item button detail="true" (click)="goToEditLetakBarang()">
          <ion-icon name="create-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Edit</h2>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="hapusData()">
          <ion-icon name="trash-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Hapus</h2>
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-header>

<ion-content class="space-y-4 ion-padding">
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  

  <!-- skeleton -->
  <div class="space-y-2 border border-gray-200 rounded-lg p-3" *ngIf="!isLoaded">
    <div class="mr-2">
      <p>
        <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text>
      </p>
    </div>
    <hr class="border-t-2 border-[#e7e7e7]">
    <div>
      <p class="mx-1"><ion-skeleton-text [animated]="true"
          style="width: 80%"></ion-skeleton-text></p>
      <p class="mx-1">
        <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text>
      </p>
    </div>

    <div class="mt-4">
      <p class="ml-1"><ion-skeleton-text [animated]="true" style="width: 20%"></ion-skeleton-text>
      </p>
      <p class="ml-1"><ion-skeleton-text [animated]="true"
          style="width: 50%"></ion-skeleton-text></p>
    </div>
  </div>  

  <div *ngIf="!isLoaded" class="rounded-xl" style="height: 200px;">
    <ion-skeleton-text [animated]="true" style="width: 100%; height: 100%;"></ion-skeleton-text>
  </div>

  <!-- content -->
  <div class="space-y-2 border border-gray-200 rounded-lg p-3" *ngIf="isLoaded">
    <div class="flex justify-between">
      <div class="flex items-end mr-2">
        <p class="text-sm text-gray-500">
          <span class="text-sm text-[#30a2ff]">{{ letak_barang?.kategori == 'Opsi Lainnya' ?
            letak_barang?.kategori_lainnya : letak_barang?.kategori }}</span>
        </p>
      </div>
    </div>
    <hr class="border-t-2 border-[#e7e7e7]">
    <div>
      <p class="mx-1 font-bold text-gray-700 text-md">{{ letak_barang?.nama_barang }}</p>
      <p class="mx-1 text-sm text-gray-500">
        <b>Letak</b> {{ letak_barang?.letak_barang }}
      </p>
    </div>

    <div class="flex items-end justify-between mt-4">
      <div>
        <p class="ml-1 text-xs text-gray-500">Sebanyak</p>
        <p class="ml-1 text-sm font-bold text-gray-500">{{ letak_barang?.jumlah_barang }}</p>
      </div>
      <div class="flex items-end">
        <ion-button (click)="setOpenModalPindahkan(true)" color="primary" class="transform-none text-[14px] capitalize">
          <span class="text-white">Pindahkan</span>
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="isLoaded">
    <div class="flex overflow-hidden text-gray-700 bg-white rounded-xl bg-clip-border">
      <img (click)="viewFull(true, 0)" src="assets/images/upload.png" class="object-cover w-full h-full" />
    </div>
  </div>

  <!-- modal preview image -->
  <ion-modal *ngIf="isLoaded" #modal [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation"
    [isOpen]="isViewFull" (willDismiss)="viewFull(false, undefined)">
    <ng-template>
      <ion-buttons (click)="modal.dismiss()" class="absolute top-2 left-2" slot="primary">
        <ion-button>
          <ion-icon name="close-outline" slot="icon-only" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="flex items-center justify-center h-screen bg-black">
        <div class="flex items-center">
          <img src="assets/images/upload.png" />
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <!-- modal ganti lokasi -->
  <ion-modal id="modal-pindahkan-barang" #modalPindahkan [isOpen]="isModalPindahkanOpen" (didPresent)="onDidModalPindahkanPresent()" (willDismiss)="onWillDismissModalPindahkan(false)">
    <ng-template>
      <div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
        <div>
          <h5 class="text-xl font-bold text-white">Pindahkan Lokasi Barang</h5>
          <ion-buttons class="absolute top-4 right-4" slot="end"
            (click)="modalPindahkan.dismiss()">
            <ion-button>
              <ion-icon name="close-outline" slot="icon-only" class="text-white"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
  
      <ion-content class="ion-padding space-y-4">
        <form (ngSubmit)="ubahLokasi()" [formGroup]="formPindah">
          <ion-item mode="md" fill="outline" >
            <ion-label position="floating">Letak Barang</ion-label>      
            <ion-input #inputPindahLokasi type="text" maxLength="50" formControlName="lokasi_pindah_barang">
            </ion-input>
          </ion-item>
          <div *ngIf="lokasi_pindah_barang.errors" class="errors">
            <span *ngIf="lokasi_pindah_barang.errors?.required">Silahakan berikan informasi letak barang anda.</span>
            <span *ngIf="lokasi_pindah_barang.errors?.maxLength">Informasi letak barang anda maksimal memiliki 50 karakter.</span>
          </div>
          <div class="text-right mt-2">
            <ion-button class="transform-none capitalize" color="primary" mode="md" type="submit" [disabled]="!formPindah.valid">
              <span class="text-white">Save</span>
            </ion-button>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>