<ion-header *ngIf="platform == 'android'"
  class="flex ion-no-border justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <div>
    <ion-buttons class="absolute top-4 left-4" slot="primary" [routerLink]="['/tabs/letak']">
      <ion-button>
        <ion-icon name="arrow-back-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="absolute top-4 right-4" slot="primary" id="show-menu-letak-barang">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="show-menu-letak-barang">
      <ng-template>
        <ion-content>
          <ion-item button detail="true" (click)="goToEditLetakBarang()">
            <ion-icon name="create-outline" slot="start" class="m-0 mr-4"></ion-icon>
            <ion-label>
              <h2>Edit</h2>
            </ion-label>
          </ion-item>
          <ion-item button detail="true" (click)="hapusData()">
            <ion-icon name="trash-outline" slot="start" class="m-0 mr-4"></ion-icon>
            <ion-label>
              <h2>Hapus</h2>
            </ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
    <h5 class="text-xl font-bold text-white">Detail Letak Barang</h5>
  </div>
</ion-header>

<ion-header *ngIf="platform !== 'android'" class="ion-no-border p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-toolbar color="transparent" class="text-white">
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/letak"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Letak Barang</ion-title>
    <ion-buttons slot="end" id="show-menu-letak-barang">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-popover trigger="show-menu-letak-barang">
    <ng-template>
      <ion-content>
        <ion-item button detail="true" (click)="goToEditLetakBarang()">
          <ion-icon name="create-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Edit</h2>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="hapusData()">
          <ion-icon name="trash-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Hapus</h2>
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-header>

<ion-content class="space-y-4 ion-padding">
  <div class="space-y-2 border border-gray-200 rounded-lg p-3">
    <div class="flex justify-between">
      <div class="flex items-end mr-2">
        <p class="text-sm text-gray-500">
          <span class="text-sm text-[#30a2ff]">Pendidikan</span>
        </p>
      </div>
    </div>
    <hr class="border-t-2 border-[#e7e7e7]">
    <div>
      <p class="mx-1 font-bold text-gray-700 text-md">Novel Suluh Rindu</p>
      <p class="mx-1 text-sm text-gray-500">
        <b>Letak</b> Di Meja Belajar
      </p>
    </div>

    <div class="flex items-end justify-between mt-4">
      <div>
        <p class="ml-1 text-xs text-gray-500">Sebanyak</p>
        <p class="ml-1 text-sm font-bold text-gray-500">1 Buku</p>
      </div>
      <div class="flex items-end">
        <ion-button (click)="ubahLokasi()" color="primary" class="transform-none text-[14px] capitalize">
          <span class="text-white">Pindahkan</span>
        </ion-button>
      </div>
    </div>
  </div>

  <div>
    <div class="flex overflow-hidden text-gray-700 bg-white rounded-xl bg-clip-border">
      <img (click)="viewFull(true, 0)" src="assets/images/upload.png" class="object-cover w-full h-full" />
    </div>
  </div>
  <ion-modal #modal [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation" [isOpen]="isViewFull"
    (willDismiss)="viewFull(false, undefined)">
    <ng-template>
      <ion-buttons (click)="modal.dismiss()" class="absolute top-2 left-2" slot="primary">
        <ion-button>
          <ion-icon name="close-outline" slot="icon-only" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="flex items-center justify-center h-screen bg-black">
        <div class="flex items-center">
          <img src="assets/images/upload.png" />
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>