<div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-buttons class="absolute top-2 left-2" slot="primary" [routerLink]="['/tabs/tab1']">
    <ion-button>
      <ion-icon name="arrow-back-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <h5 class="text-xl font-bold text-white">Tambah Barang</h5>
</div>

<ion-content class="ion-padding">
  <div class="space-y-4">
    <ion-item fill="outline">
      <ion-label position="floating">Nama Barang</ion-label>
      <ion-input placeholder="Nama Barang" type="text" [(ngModel)]="nama_barang"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-select [(ngModel)]="kategori" label="Kategori" placeholder="-- Pilih Kategori --">
        <ion-select-option value="Kebutuhan Dapur">Kebutuhan Dapur</ion-select-option>
        <ion-select-option value="Kebutuhan Anak">Kebutuhan Anak</ion-select-option>
        <ion-select-option value="Kebutuhan Istri">Kebutuhan Istri</ion-select-option>
        <ion-select-option value="Opsi Lainnya">Opsi Lainnya</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item fill="outline" *ngIf="kategori == 'Opsi Lainnya'">
      <ion-label position="floating">Kategori Lainnya</ion-label>
      <ion-input placeholder="Kategori Lainnya" type="text" [(ngModel)]="kategori_lainnya"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-select [(ngModel)]="status" label="Status" placeholder="-- Pilih Status --">
        <ion-select-option value="Dibeli">Dibeli</ion-select-option>
        <ion-select-option value="Dijual">Dijual</ion-select-option>
        <ion-select-option value="Disedekahkan">Disedekahkan</ion-select-option>
        <ion-select-option value="Diberikan">Diberikan</ion-select-option>
        <ion-select-option value="Dihadiahkan">Dihadiahkan</ion-select-option>
        <ion-select-option value="Dibuang">Dibuang</ion-select-option>
        <ion-select-option value="Dipinjamkan">Dipinjamkan</ion-select-option>
        <ion-select-option value="Diperbaiki">Diperbaiki</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item fill="outline" *ngIf="status">
      <ion-label position="floating">{{ status }} {{ status == 'Dibuang' ? 'kemana' : (status == 'Dibeli' ? 'dimana' :
        'kepada siapa') }}</ion-label>
      <ion-input
        placeholder="{{ status }} {{ status == 'Dibuang' ? 'kemana' : (status == 'Dibeli' ? 'dimana' : 'kepada siapa') }}"
        type="text" [(ngModel)]="extend_status"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-label position="floating">Jumlah</ion-label>
      <ion-input placeholder="Jumlah" type="text" [(ngModel)]="jumlah_barang"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-label position="floating">Letak Barang</ion-label>
      <ion-input placeholder="Letak Barang" type="text" [(ngModel)]="letak_barang"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-label position="floating">Keterangan</ion-label>
      <ion-input placeholder="Alasan/sebab" type="text" [(ngModel)]="keterangan"></ion-input>
    </ion-item>
    <div class="flex justify-center">
      <ion-datetime presentation="date-time" [(ngModel)]="jadwal_rencana">
        <span slot="title">Jadwal Rencana</span>
        <span slot="time-label">Pukul</span>
      </ion-datetime>
    </div>
    <div>
      <ion-item fill="outline">
        <ion-select [(ngModel)]="reminder" label="Jadwal Notifikasi" placeholder="-- Pilih --">
          <ion-select-option value="Jadwal Rencana">Jadwal Rencana</ion-select-option>
          <ion-select-option value="Isi Sendiri">Isi Sendiri</ion-select-option>
        </ion-select>
      </ion-item>
      <p class="p-0 mt-2 text-xs italic text-justify text-gray-500">*silahkan pilih jadwal notifikasi: sesuai "Jadwal
        Rencana" atau
        "Isi
        Sendiri"</p>
    </div>
    <div class="flex justify-center" *ngIf="reminder == 'Isi Sendiri'">
      <ion-datetime presentation="date-time" [(ngModel)]="jadwal_notifikasi">
        <span slot="title">Jadwal Notifikasi</span>
        <span slot="time-label">Pukul</span>
      </ion-datetime>
    </div>
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold tracking-wide text-gray-500">Upload Foto (Opsional)</label>
      <div class="flex items-center justify-center w-full">
        <label class="flex flex-col w-full p-10 text-center border-4 border-dashed rounded-lg h-60 group">
          <div class="flex flex-col items-center justify-center w-full h-full text-center ">
            -<svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-blue-400 group-hover:text-blue-600"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
            </svg>
            <div class="flex flex-auto w-2/5 mx-auto -mt-10 max-h-48">
              <img class="object-center has-mask h-36"
                src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                alt="freepik image">
            </div>
            <p class="text-gray-700 pointer-none "><span class="text-sm">Silahkan </span><a
                class="text-[#30a2ff] hover:underline">pilih file</a> foto yang ingin anda upload</p>
          </div>
          <input type="file" class="hidden">
        </label>
      </div>
    </div>
  </div>
</ion-content>
<ion-fab slot="fixed" horizontal="end" vertical="bottom" class="m-4" (click)="saveToDatabase()">
  <ion-fab-button>
    <ion-icon name="save-outline" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>