<div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-buttons class="absolute top-2 left-2" slot="primary" [routerLink]="['/tabs/barang']">
    <ion-button>
      <ion-icon name="arrow-back-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons class="absolute top-2 right-2" slot="primary" id="show-menu{{ dataBarang.id }}">
    <ion-button>
      <ion-icon name="ellipsis-vertical-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-popover trigger="show-menu{{ dataBarang.id }}">
    <ng-template>
      <ion-content>
        <ion-item button detail="true" (click)="goToEditBarang()">
          <ion-icon name="create-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Edit</h2>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="ubahProgress()">
          <ion-icon name="options-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Ubah Progress</h2>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="hapusData()">
          <ion-icon name="trash-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Hapus</h2>
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-popover>
  <h5 class="text-xl font-bold text-white">Detail Barang</h5>
</div>

<ion-content class="space-y-4 ion-padding">
  <div class="space-y-2">
    <div class="flex justify-between">
      <div class="mr-2" style="display: flex; align-items: end;">
        <p class="text-sm text-gray-500">
          <b>Dibeli</b> - <span class="text-sm text-sm text-[#30a2ff]"> Kebutuhan Bulanan</span> 
          <!-- <b>Dihadiahkan</b> - <span class="text-sm text-sm text-[#30a2ff]"> Kebutuhan Adik</span> -->
        </p>
      </div>
      <div class="ml-2">
        <div class="px-2 py-1 font-bold text-xs text-yellow-800 bg-yellow-200 rounded">Belum</div>
        <!-- <div class="px-2 py-1 font-bold text-xs text-green-800 bg-green-200 rounded">Selesai</div> -->
      </div>
    </div>
    <hr style="margin: 0.5rem 0; border-top-width: 2px; border-color: #e7e7e7;">
    <div>
      <p class="font-bold text-gray-700 text-md mx-1">Susu UHT Rasa Coklat ukuran 1 Ltr</p>
      <!-- <p class="font-bold text-gray-700 text-md mx-1">Buku Sifat Shalat Nabi</p> -->
      <p class="text-sm text-gray-500 mx-1">
        <b>Lokasi</b> Riemart Demang Lebar Daun
        <!-- <b>Letak</b> Di Lemari Buku -->
      </p>
    </div>

    <div style="margin-top: 16px; align-items: end;" class="flex justify-between">
      <div>
        <p class="ml-1 text-xs text-gray-500">Sebanyak</p>
        <p class="ml-1 text-sm font-bold text-gray-500" style="margin-top: 0;">1 Buku</p>
      </div>
      <div style="display: flex; align-items: end;">
        <ion-button color="secondary" style="text-transform: none; font-size: 14px;">Ubah Progress</ion-button>
      </div>
    </div>
  </div>

  <div class="border border-gray-200 rounded-lg" style="margin: 16px 0;">
    <div style="padding: 10px 10px 0;">
      <span class="px-2 py-1 font-bold text-gray-800 bg-gray-200 rounded" style="font-size: 1rem;">Info Rencana</span>
    </div>
    <div style="padding: 4px 16px 16px;">
      <p style="margin-top: 8px;">
        <b class="text-sm text-gray-500">Letak</b>
        <span class="ml-auto text-sm text-gray-500"> Di Kulkas
        </span>
      </p>
      <!-- <p style="margin-top: 8px;">
        <b class="text-sm text-gray-500">Kepada</b>
        <span class="ml-auto text-sm text-gray-500"> Egga Priska Lidya
        </span>
      </p> -->
      <p style="margin-top: 8px; line-height: 1.2;">
        <b class="text-sm text-gray-500">Jadwal</b><br>
        <span class="ml-auto text-xs text-gray-500">06 Agustus
          2023, 13:30
        </span>
      </p>
      <p style="margin-top: 8px; line-height: 1.2;">
        <b class="text-sm text-gray-500">Notifikasi</b><br>
        <span class="ml-auto text-xs text-gray-500">06 Agustus
          2023, 13:30
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="dataBarang.keterangan !== ''"
    class="flex flex-col w-full p-4 border border-gray-200 rounded-lg bg-gray-50 shadow-inherit">
    <div class="items-center justify-between">
      <div class="flex items-center space-x-4">
        <div class="flex flex-col space-y-2">
          <div class="text-sm font-bold text-gray-700">Keterangan</div>
          <div class="text-sm text-justify text-gray-500">{{ dataBarang.keterangan }}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let image of dataImage; let i = index;">
    <div class="flex overflow-hidden text-gray-700 bg-white rounded-xl bg-clip-border">
      <img (click)="viewFull(true, i)" src="{{ image.webviewPath }}" class="object-cover w-full h-full" />
    </div>
  </div>
  <ion-modal #modal [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation" [isOpen]="isViewFull"
    (willDismiss)="viewFull(false, undefined)">
    <ng-template>
      <ion-buttons (click)="modal.dismiss()" class="absolute top-2 left-2" slot="primary">
        <ion-button>
          <ion-icon name="close-outline" slot="icon-only" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="flex items-center justify-center h-screen bg-black">
        <div class="flex items-center">
          <img src="{{ urlFullImage }}" />
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>