<div class="flex justify-center p-6 bg-[#30a2ff] rounded-br-[45%] rounded-bl-[45%]">
  <ion-buttons class="absolute top-2 left-2" slot="primary" [routerLink]="['/barang']">
    <ion-button>
      <ion-icon name="arrow-back-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons class="absolute top-2 right-2" slot="primary" id="show-menu{{ dataBarang.id }}">
    <ion-button>
      <ion-icon name="ellipsis-vertical-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-popover trigger="show-menu{{ dataBarang.id }}">
    <ng-template>
      <ion-content>
        <ion-item button detail="true" (click)="goToEditBarang()">
          <ion-icon name="create-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Edit</h2>
          </ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="hapusData()">
          <ion-icon name="trash-outline" slot="start" class="m-0 mr-4"></ion-icon>
          <ion-label>
            <h2>Hapus</h2>
          </ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-popover>
  <h5 class="text-xl font-bold text-white">Detail Barang</h5>
</div>

<ion-content class="space-y-4 ion-padding">
  <!-- <div class="space-y-2">
    <div class="flex justify-center">
      <p class="font-bold text-gray-700 text-md">{{ dataBarang.nama_barang }}</p>
    </div>
    <div class="flex justify-between">
      <p class="text-sm text-[#30a2ff]">{{ dataBarang.letak_barang }}</p>
      <p class="text-sm ml-auto text-[#30a2ff]">{{ dataBarang.jumlah_barang }}</p>
    </div>
    <div class="flex justify-between">
      <p class="text-sm text-gray-500">{{ dataBarang.status }} {{ dataBarang.extend_status }}</p>
      <p
        class="inline-block px-2 py-1 text-xs {{ dataBarang.progress == 0 ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200' }} rounded">
        {{ dataBarang.progress == 0 ? 'Belum' : 'Selesai' }}
      </p>
    </div>
    <p class="text-sm text-gray-500">{{ dataBarang.kategori == 'Opsi Lainnya' ? dataBarang.kategori_lainnya :
      dataBarang.kategori }}</p>
    <div class="flex justify-between">
      <p class="text-sm font-bold text-gray-500 uppercase">{{ dataBarang.status }}</p>
      <p class="text-sm font-bold text-gray-500">{{ formatTanggal(dataBarang.jadwal_rencana) }}</p>
    </div>
  </div> -->

  <div class="space-y-2">
    <div class="flex justify-between">
      <div class="text-sm text-gray-500">
        <strong>{{ dataBarang.status }}</strong> - <span class="text-[#30a2ff]">{{ dataBarang.kategori == 'Opsi Lainnya'
          ? dataBarang.kategori_lainnya : dataBarang.kategori }}</span>
      </div>
      <div
        class="px-2 py-1 text-xs font-bold {{ dataBarang.progress == 0 ? 'text-yellow-800 bg-yellow-200' : 'text-green-800 bg-green-200' }} rounded">
        {{ dataBarang.progress == 0 ? 'Belum' : 'Selesai' }}
      </div>
    </div>
    <div class="border-t-2 border-gray-300"></div>
    <div class="font-bold text-gray-700 text-md">{{ dataBarang.nama_barang }}</div>
    <div class="text-sm text-gray-500">
      <strong>{{ dataBarang.status == 'Dibeli' ? 'Lokasi' : 'Letak' }}</strong> {{ dataBarang.status == 'Dibeli' ?
      dataBarang.extend_status : dataBarang.letak_barang }}
    </div>
    <div class="flex justify-between">
      <div class="text-sm text-gray-500">
        <strong>Sebanyak</strong> {{ dataBarang.jumlah_barang }}
      </div>
      <ion-buttons slot="primary" (click)="ubahProgress()">
        <ion-button class="bg-[#30a2ff] rounded-full">
          <ion-icon name="options-outline" slot="icon-only" class="text-white"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  <div class="w-full p-4 space-y-2 border border-gray-200 rounded-lg bg-gray-50 shadow-inherit">
    <span class="px-2 py-1 text-sm font-bold text-gray-700 bg-gray-200 rounded">Informasi Rencana</span>
    <div class="text-sm text-gray-500">
      <strong>{{ dataBarang.status == 'Dibeli' ? 'Letak' : optionsStatus[dataBarang.status] }}</strong> {{
      dataBarang.status == 'Dibeli' ? dataBarang.letak_barang : dataBarang.extend_status }}
    </div>
    <div class="text-sm text-gray-500">
      <strong>Jadwal</strong> {{ formatTanggal(dataBarang.jadwal_rencana) }}, {{ formatJam(dataBarang.jadwal_rencana) }}
    </div>
    <div class="text-sm text-gray-500">
      <strong>Notifikasi</strong> {{ formatTanggal(dataBarang.jadwal_notifikasi) }}, {{
      formatJam(dataBarang.jadwal_notifikasi) }}
    </div>
  </div>
  <div *ngIf="dataBarang.keterangan"
    class="w-full p-4 space-y-2 border border-gray-200 rounded-lg bg-gray-50 shadow-inherit">
    <span class="px-2 py-1 text-sm font-bold text-gray-700 bg-gray-200 rounded">Keterangan</span>
    <div class="text-sm text-justify text-gray-500">{{ dataBarang.keterangan }}</div>
  </div>
  <div *ngFor="let image of dataImage; let i = index;">
    <div class="flex overflow-hidden text-gray-700 bg-white rounded-xl bg-clip-border">
      <img (click)="viewFull(true, i)" src="{{ image.webviewPath }}" class="object-cover w-full h-full" />
    </div>
  </div>
  <ion-modal #modal [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation" [isOpen]="isViewFull"
    (willDismiss)="viewFull(false, undefined)">
    <ng-template>
      <ion-buttons (click)="modal.dismiss()" class="absolute top-2 left-2" slot="primary">
        <ion-button>
          <ion-icon name="close-outline" slot="icon-only" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="flex items-center justify-center h-screen bg-black">
        <div class="flex items-center">
          <img src="{{ urlFullImage }}" />
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>